/**
 * Margins
 */

.margin-bot-big{
    margin-bottom: 60px;
}

.no-pad{
    padding: 0px;
}

/**
 * Borders
 */

.round-top-left{
    border-top-left-radius: $border-radius;
}

.round-top-right{
    border-top-right-radius: $border-radius;
}

.round-bottom-left{
    border-bottom-left-radius: $border-radius;
}

.round-bottom-right{
    border-bottom-right-radius: $border-radius;
}